body {
  font-size: 4vh;
  text-align: center;
  margin: 0;
  color: #ecedf1;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.color-scheme {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  height: 50vh;
}

.main {
  display: grid;
}
.secondary {
  display: grid;
}
.terinary {
  display: grid;
}
.quad {
  display: grid;
}

.modified {
  display: grid;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__color1 {
  background-color: #02c46c;
}

.main__color2 {
  background-color: #d93b28;
}
.secondary__1 {
  background-color: #d65b76;
}

.secondary__2 {
  background-color: #50dada;
}

.terinary__1 {
  background-color: #fffa00;
  color: #323232;
}

.terinary__2 {
  background-color: #6d4886;
}

.quad__1 {
  background-color: #306cdc;
}
.quad__2 {
  background-color: #1e4ea3;
}
.neutral {
  display: grid;
}

.neutral__black {
  background-color: #323232;
}

.neutral__white {
  background-color: #ecedf1;
  color: #323232;
}

.test {
  background-color: #6d4886;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  position: relative;
}

.test__accent {
  background-color: #fffa00;
  position: absolute;
  height: 45vh;
  width: 45vh;
  border-radius: 50%;
  z-index: 1;
}

.test__text {
  color: #323232;
  font-size: 25vh;
  z-index: 2;
}
