html {
  margin: 0;
  padding: 0;
}
#header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}
#content {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
body {
  font-family: 'Dosis';
  margin: 0;
  padding: 0;
  height: 1000px;
  display: grid;
  grid-template-columns: 220px 1fr 1000px 1fr;
  grid-template-rows: 150px 50px 1fr;
}
#face {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 2;
  position: fixed;
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 50%;
}
#name {
  grid-column: 2 / 3;
  align-items: center;
  width: 400px;
  object-fit: none;
}
#main {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
}

h1 {
  color: black;
}

#nav-bar {
  background-image: url('img/squ.jpg');
  background-size: none;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 180px 1fr 100px 100px 100px 100px 20px;
  grid-template-rows: 1fr;
  height: 150px;
  width: 100%;
  column-gap: 20px;
  position: fixed;
  align-items: center;
  z-index: 1;

  /* align-content: center; */
}

.nav-bar-opt {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #b8d0d3;
  border-radius: 10%;
}

.nav-bar-opt:hover {
  background-color: #11aaa3;
}
