body {
  margin: 0;
}

#hero {
  position: relative;
  height: 70vh;
  width: 100%;
}
#hero img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

#logo {
  background: url('./img/logo2.png') center no-repeat;
  background-size: contain;
  height: 20vh;
  z-index: 4;
}
