html {
  font-size: calc(1em + 1vh);
}

body {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #333333;
  background-color: #38cabd;
}

button {
  font-size: 1em;
  margin: 3px;
  height: 7vmin;
  border-radius: 3px;
  background: #38cabd;
  box-shadow: none;
  border: none;
  white-space: nowrap;
  padding: 1vmin 1vmax;
}

body > * {
  display: grid;
  width: 100%;
  margin: auto;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: linear-gradient(#fdfffc 20%, rgba(0, 0, 0, 0.5) 100%);
}

body::-webkit-scrollbar {
  background: transparent;
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e71d36;
}

nav {
  height: 15vmin;
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 0.65em;
  color: #fdfffc;
  background: #38cabd;
  background-color: #38cabd;
}

.nav__logo {
  margin: 5vmin 5vmax;
  height: 20vmin;
  position: absolute;
}

.nav__hamburger {
  margin: 0 7vmax;
  display: flex;
  justify-content: flex-start;
}

.nav__login {
  display: flex;
  justify-content: flex-end;
}

nav img {
  height: 100%;
  object-fit: contain;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vmin - 15vmin);
  color: #fdfffc;
}

.hero {
  height: 300px;
  width: 500px;
  background: #38cabd;
  display: grid;
  grid-template-rows: 100px 45px 130px 25px;
}

.hero > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e71d36;
}

#hello {
  align-items: flex-end;

  border-radius: 20px 20px 0 0;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: 0.1em;
}

#name {
  color: #333333;
  font-family: 'Rock Salt', cursive;
  font-size: 3em;
  background-color: #fdfffc;
}

.sticker-shape {
  border-radius: 0 0 20px 20px;
}
.sidebar-nav {
  position: fixed;
  width: 20vmax;
  margin: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 20px;
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

main section {
  height: 1000px;
  padding: 5vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.about-me {
  background: linear-gradient(90deg, #fdfffc 20%, rgba(231, 29, 54, 0.25) 100%);
}
.education {
  background: linear-gradient(90deg, rgba(56, 202, 189, 0.25) 0, #fdfffc 80%);
}
.work {
  background: linear-gradient(90deg, #fdfffc 20%, rgba(231, 29, 54, 0.25) 100%);
}
.coding {
  background: linear-gradient(90deg, rgba(56, 202, 189, 0.25) 0, #fdfffc 80%);
}

footer {
  color: #323232;
}

.hidden {
  display: none;
}

.hover:hover {
  filter: brightness(1.5);
}

body script {
  display: none;
}
