html {
  font-size: calc(1em + 1vw);
}

body {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #323232;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #a6ebc9;
  box-shadow: none;
}

body > * {
  display: grid;
  width: 100%;
  margin: auto;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fffdf7;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #fffdf7;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e71d36;
}

nav {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.65em;
  color: #fffdf7;
  background-color: #38cabd;
}

.nav__logo {
}

header {
  height: 100vh;
}

.hero {
  height: 80vh;
  background: #38cabd;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
}

.hero > * {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#hello {
  justify-self: flex-start;
  margin-left: 12vw;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: 0.5em;
}

#i-am {
  justify-self: flex-end;
  margin-right: 15vw;
}
.sidebar-nav {
  position: fixed;
  width: 20vw;
  margin: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 20px;
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

main section {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.about-me {
  background: linear-gradient(90deg, #e7e6ff 20%, rgba(231, 29, 54, 0.25) 100%);
}
.education {
  background: linear-gradient(90deg, rgba(56, 202, 189, 0.75) 0, #e7e6ff 80%);
}
.work {
  background: linear-gradient(90deg, #e7e6ff 20%, rgba(231, 29, 54, 0.5) 100%);
}
.coding {
  background: linear-gradient(90deg, rgba(56, 202, 189, 0.75) 0, #e7e6ff 80%);
}

footer {
  color: #323232;
}

.hidden {
  display: none;
}

.hover:hover {
  filter: brightness(2);
}
